footer {
	background-color: #6200EE;
	color: #fff;
	padding: 1em;
	margin-top: 1em;
	a {
		color: #fff;
	}
}

@media (min-width: 40em) {
		footer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

	}